<h1>Profiles</h1>
<form class="searchProfiles" action="/user">
  <input type="text" placeholder="Search.." name="searchProfiles">
  <button type="submit">Search<i class="searchProfilesBtn"></i></button>
</form>
<br>

<div>
<ul>
  <% for (let i = 0; i < profiles.length; i++ ) {%>
  <li>
    <a href="/user/profile/<%= profiles[i].username %>"><%= profiles[i].firstName %></a> | 

    <% if(reqInfo.roles?.includes("Admin")) { %>
      <a href="/user/<%= profiles[i].username %>/delete"><button>Delete</button></a>
    <% } %>
  </li>
  <% } %>
</ul>
</div>